<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SourceAccount"   value="" />
        <add key="SourceFileShare" value="" />
        <add key="SourceDirectory" value="" />
        <add key="Metadata"        value="" />
        <add key="Attachments"     value="" />
        <add key="Logs"            value="" />
    </appSettings>  
</configuration>